# To install all dependencies listed in requirements.txt, run this command in your terminal:


flask
flask-cors
yt-dlp
ffmpeg-python
openai-whisper
transformers
torch
youtube-transcript-api
pymongo
werkzeug
sentencepiece
imageio[ffmpeg]